
.container {
  margin-left: 315px;
  padding-top: 50px;
  position: absolute;
  width: 50%;
  background-color: aliceblue;
  height: 100%;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}