
.editor-container {
  margin-left: 400px;
  padding-top: 70px;
  position: absolute;
  width: 50%;
  background-color: aliceblue;
  height: 100%;
  font-family: 'Titillium Web', sans-serif
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

.sadkitty{
  width:90px;
  height: 100px;
}