.icon
{
  width: 30px;
  height: 30px;
  float: left;
  margin-top: -5px;
}

.name-of-app{
  padding-left: 41px;
}

.etls-list-preloader{
  padding-left: 6px;
  display: inline-flex;
}
.etls-list-preloader-text{
  padding-top: 4px;
  padding-left: 9px;
}

.navbar.navbar-default .container{
  width: 100%;
}

.navbar.navbar-default{
  z-index: 1001;
}