/*@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);*/
.listContent{
  height: calc(100% - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}

.deactivate-link{
  cursor: not-allowed;
}

.configurations-list-preloader{
  float: right;
  margin-bottom: -8px;
  padding-right: 10px;
  margin-top: -23px;
}
.sidebar-title {
  padding-bottom: 10px;
  padding-top: 15px;
  padding-left: 20px;
  color:#bdc2c9;
  font-size: 16px;
  font-weight: bold;
  border-bottom: #bdc2c9 1px solid;
  height: 37px;
}

.sidebar-title .dropdown-menu{
  font-size: 17px;
  top: 27px;
}

.main-menu .sidebar-title .dropdown-menu li>a{
  color:#22303c;
  margin-left: 10px;
  font-size: 14px;
}


.fa-2x {
  font-size: 19px;
}

.fa {
  position: relative;
  display: table-cell;
  width: 33px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:17px;
}

.fa.config-actions {
  width: 60px;
}

.index{
  font-size: 14px;
  font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}

.child-link{
  padding-left: 10px;
}

.three-dots-text{
  display: inline-block;
  width: 237px !important;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: block !important;
  padding-top: 7px;
}

.clickable-icons{
  color:#ced4da;
}


.clickable-icons:hover{
  color: white;
}

.search-string{
  padding-top: 17px;
  padding-left: 29px;
  color: white;
}

.search-bar{
  padding-top: 10px;
}
.search-bar-preloader{
  margin-left: -15px;
  padding-top: 14px;
}

.sidebar-title .nav .open>a, .nav .open>a:focus,.sidebar-title .nav .open>a:hover{
  background-color: #354052;
}

.sidebar-title .nav>li>a:focus, .sidebar-title .nav>li>a:hover{
  background-color: #354052;
}


.main-menu {
  background:#354052;
  border-right:1px solid #e5e5e5;
  position: fixed;
  top:52px;
  bottom:0;
  height:calc(100% - 52px);;
  left:0;
  width:360px;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
}

.main-menu>ul {
  margin:7px 0;
}

.main-menu li {
  position:relative;
  display:inline-table;
  width:100%;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#ced4da;
  font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;

}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}


.main-menu .nav-text {
  text-align: left;
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:300px;
  font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}

.main-menu .nav-text.group{
  font-weight: bold;
}


.bottom-link {
  position:absolute;
  left:0;
  bottom:0;
}

.bottom-link a{
  color:#97c3e8;
}

.bottom-link a:hover{
  color:#fff;
  background-color:#5fa2db;
  padding-top: 14px;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

.main-menu .listContent a:hover,a:focus {
  text-decoration:none;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}
.main-menu .listContent li:hover>a,
.main-menu .listContent nav.main-menu .listContent li.active>a,
.main-menu .listContent .dropdown-menu>li>a:hover,
.main-menu .listContent .dropdown-menu>li>a:focus,
.main-menu .listContent .dropdown-menu>.active>a,
.main-menu .listContent .dropdown-menu>.active>a:hover,
.main-menu .listContent .dropdown-menu>.active>a:focus,
.main-menu .listContent .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.main-menu .listContent .dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#5fa2db;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
